//======================================================================
// Buttons Styles
//======================================================================
.btn-ba {
  background: black;
  display: inline-block;
  text-transform: uppercase;
  font-size: em(6px);
  color: white;
  border: none;
  padding: 7px;
  cursor: pointer;
}
