//======================================================================
// Nav Component
//======================================================================

.bw-nav {
  a {
    color: $black;

    &:focus,
    &:hover {
      color: $black;
    }
  }
}
