header.p-3
    nav.container.d-flex.justify-content-between.navbar.navbar-expand-lg.navbar-toggleable-md
        a(class="navbar-brand mt-2", href="index.html")
            img(src="images/logo.png", alt="Black + White logo icon")
        
        button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        // List navigation
        div( class="collapse navbar-collapse justify-content-end", id="navbarNav")
            ul.nav.bw-nav
                li.nav-item
                    a(class="nav-link", href="index.html") home
                li.nav-item
                    a(class="nav-link", href="services.html") our services
                li.nav-item
                    a(class="nav-link", href="howwe.html") how we work
                li.nav-item
                    a(class="nav-link", href="testimonial.html") testimonials
                li.nav-item
                    a(class="nav-link", href="work.html") work samples
        // End list navigation
// End header