//======================================================================
// Home Styles
//======================================================================
.fish-bg {
  width: 100%;
  height: 231px;
  background: url('../images/city-bg.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  h4 {
    font-size: em(23px);
    color: $white;
    display: inline-table;
    padding: 5px;
    margin-left: 15px;
    background: rgba($color: #000000, $alpha: 0.7);
  }
}

.black-box {
  display: block;
  width: 100%;
  height: 231px;
  background: $darker-grey;
}

.info-sec {
  blockquote {
    position: relative;
    &:before {
      content: '\201C';
      display: block;
      position: absolute;
      top: -21px;
      left: -24px;
      font-size: 50px;
    }

    &:after {
      content: '\201D';
      display: block;
      position: absolute;
      bottom: -40px;
      left: 83px;
      font-size: 50px;
    }
  }
}
