//======================================================================
// Pages Styles
//======================================================================

//-------------------------------
// --> home page<--
//-------------------------------
@import 'home';

//-------------------------------
// --> services page <--
//-------------------------------
@import 'services';

//-------------------------------
// --> services page <--
//-------------------------------
@import 'work';
