//======================================================================
// Work Styles
//======================================================================

.work1 {
  width: 100%;
  height: 231px;
  background: url('../images/work1.jpg') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.work2 {
  width: 100%;
  height: 231px;
  background: url('../images/work2.jpg') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media #{$small} {
  .prev,
  .next {
    display: none;
  }
}
