<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Black + White | Home
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
        link(rel="stylesheet", href="css/app.css")
    body

        header.p-3
            nav.container.d-flex.justify-content-between
                a(class="brand mt-2", href="index.html")
                    img(src="images/logo.png", alt="Black + White logo icon")
                
                // List navigation
                ul.nav.bw-nav
                    li.nav-item
                        a(class="nav-link", href="index.html") home
                    li.nav-item
                        a(class="nav-link", href="services.html") our services
                    li.nav-item
                        a(class="nav-link", href="howwe.html") how we work
                    li.nav-item
                        a(class="nav-link", href="testimonial.html") testimonials
                    li.nav-item
                        a(class="nav-link", href="work.html") work samples
                // End list navigation
        // End header

        // Hero section

        section.container.my-5
            .row
                .col
                    .fish-bg
                        h4 some slick phrase would go in here 
                        h4 to sum up what the business 
                        h4 actually does and stands for
                .col-md-3
                    .black-box
        // End Hero section

        // Main content section
        section.container
            .row
                .col.info-sec
                    h2 services we offer

                    hr

                    p 
                        | Donec odio arcu, faucibus vel, accumsan eu, cursus in, ipsum. Pellentesque blandit condimentum purus. Suspendisse commodo dui.

                    p
                        | Quisque a tellus. Vestibulum tincidunt lorem ac est. Vivamus augue quam, hendrerit at, porta ut, tristique ac, lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur fringilla eros ultrices justo. Nunc condimentum. Ut id dui in erat vulputate ultricies 
                    
                    button.btn-ba read more
                
                .col.info-sec
                    h2 how we work

                    hr

                    p 
                        | Donec odio arcu, faucibus vel, accumsan eu, cursus in, ipsum. Pellentesque blandit condimentum purus. Suspendisse commodo dui.

                    p
                        | Quisque a tellus. Vestibulum tincidunt lorem ac est. Vivamus augue quam, hendrerit at, porta ut, tristique ac, lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur fringilla eros ultrices justo. Nunc condimentum. Ut id dui in erat vulputate ultricies 
                    
                    p Cras orci odio, consequat vel, venenatis id, mollis a, lorem. Ut commodo accumsan sapien. 

                    button.btn-ba read more
                
                .col-md-3.info-sec 
                    blockquote
                        em
                            | Clean, elegant typography 
                            | matched with sharp lines 
                            | and precise spacing leads 
                            | to a professional look 
                            | and feel.
                    p 
                        em 
                            | Collis Ta’eed <br> Designer
                    


        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")



