extends home.pug

block title
    | Black + White | Home


block smallhero
    .row
        .col-md-9
            .fish-bg
                h4 some slick phrase would go in here 
                h4 to sum up what the business 
                h4 actually does and stands for
        .col-md-3.div-box
            .black-box

block maincontent
    .row
        .col-md-4.info-sec
            h2 services we offer

            hr

            p 
                | Donec odio arcu, faucibus vel, accumsan eu, cursus in, ipsum. Pellentesque blandit condimentum purus. Suspendisse commodo dui.

            p
                | Quisque a tellus. Vestibulum tincidunt lorem ac est. Vivamus augue quam, hendrerit at, porta ut, tristique ac, lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur fringilla eros ultrices justo. Nunc condimentum. Ut id dui in erat vulputate ultricies 
            
            button.btn-ba read more
        
        .col-md-4.info-sec
            h2 how we work

            hr

            p 
                | Donec odio arcu, faucibus vel, accumsan eu, cursus in, ipsum. Pellentesque blandit condimentum purus. Suspendisse commodo dui.

            p
                | Quisque a tellus. Vestibulum tincidunt lorem ac est. Vivamus augue quam, hendrerit at, porta ut, tristique ac, lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur fringilla eros ultrices justo. Nunc condimentum. Ut id dui in erat vulputate ultricies 
            
            p Cras orci odio, consequat vel, venenatis id, mollis a, lorem. Ut commodo accumsan sapien. 

            button.btn-ba read more
        
        .col-md-4.info-sec 
            blockquote
                em
                    | Clean, elegant typography 
                    | matched with sharp lines 
                    | and precise spacing leads 
                    | to a professional look 
                    | and feel.
            p 
                em.citing  
                    | Collis Ta’eed <br> Designer