extends index.pug

block title
    | Black + White | Services 

block smallhero
    .row
        .col
            .services-bg.my-3

            h3.my-4 
                span.text-muted our services.
                |  from one amazing thing to another, we do it all

            hr

            .row
                .col
                    p.my-3 
                        | Donec odio arcu, faucibus vel, accumsan eu, cursus in, ipsum. Pellentesque blandit condimentum purus. Suspendisse commodo dui.

                    p
                        | Quisque a tellus. Vestibulum tincidunt lorem ac est. Vivamus augue quam, hendrerit at, porta ut, tristique ac, lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur fringilla eros ultrices justo. Nunc condimentum. Ut id dui in erat vulputate ultricies 
                    
                    p Cras orci odio, consequat vel, venenatis id, mollis a, lorem. Ut commodo accumsan sapien. 
                
                .col
                    p.my-3 
                        | Donec odio arcu, faucibus vel, accumsan eu, cursus in, ipsum. Pellentesque blandit condimentum purus. Suspendisse commodo dui.

                    p
                        | Quisque a tellus. Vestibulum tincidunt lorem ac est. Vivamus augue quam, hendrerit at, porta ut, tristique ac, lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur fringilla eros ultrices justo. Nunc condimentum. Ut id dui in erat vulputate ultricies 

        .col-md-3
            .grey-box
                .services.mt-3
                    h3.services__title.text-center.my-3 select a service

                    ul.services-list
                        li.services-list__item.my-3 Some amazing service
                        li.services-list__item.my-3 And another one
                        li.services-list__item.my-3 A service none else offers
                        li.services-list__item.my-3 Some amazing service
                        li.services-list__item.my-3 And another one
                        li.services-list__item.my-3 A service none else offers
    



