extends index.pug

block title
    | Black + White | Services 

block smallhero
    .row
        .col
            | fish backgroud here

            h3 our services. from one amazing thing to another, we do it all

            hr

            .row
                .col
                    p 
                        | Donec odio arcu, faucibus vel, accumsan eu, cursus in, ipsum. Pellentesque blandit condimentum purus. Suspendisse commodo dui.

                    p
                        | Quisque a tellus. Vestibulum tincidunt lorem ac est. Vivamus augue quam, hendrerit at, porta ut, tristique ac, lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur fringilla eros ultrices justo. Nunc condimentum. Ut id dui in erat vulputate ultricies 
                    
                    p Cras orci odio, consequat vel, venenatis id, mollis a, lorem. Ut commodo accumsan sapien. 
                
                .col
                    p 
                        | Donec odio arcu, faucibus vel, accumsan eu, cursus in, ipsum. Pellentesque blandit condimentum purus. Suspendisse commodo dui.

                    p
                        | Quisque a tellus. Vestibulum tincidunt lorem ac est. Vivamus augue quam, hendrerit at, porta ut, tristique ac, lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur fringilla eros ultrices justo. Nunc condimentum. Ut id dui in erat vulputate ultricies 

        .col-md-3
            .grey-box
                | list goes here
    



