extends index.pug

block smallhero
    .row
        .col-md-6
            .work1
                button.btn-ba.prev previous
            
            h3.my-4 work sample 1

            h5.text-muted and a very brief description of the work in large bold letters followed by

            hr

            p.my-3 
                | Donec odio arcu, faucibus vel, accumsan eu, cursus in, ipsum. Pellentesque blandit condimentum purus. Suspendisse commodo dui.

            p
                | Quisque a tellus. Vestibulum tincidunt lorem ac est. Vivamus augue quam, hendrerit at, porta ut, tristique ac, lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur fringilla eros ultrices justo. Nunc condimentum. Ut id dui in erat vulputate ultricies 

        .col-md-6
            .work2
                button.btn-ba.next next
            
            h3.my-4 work sample 2

            h5.text-muted and a very brief description of the work in large bold letters followed by

            hr

            p.my-3 
                | Donec odio arcu, faucibus vel, accumsan eu, cursus in, ipsum. Pellentesque blandit condimentum purus. Suspendisse commodo dui.

            p
                | Quisque a tellus. Vestibulum tincidunt lorem ac est. Vivamus augue quam, hendrerit at, porta ut, tristique ac, lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur fringilla eros ultrices justo. Nunc condimentum. Ut id dui in erat vulputate ultricies