//======================================================================
// Global Sass Variables
//======================================================================

@import url('https://use.typekit.net/kft6vzb.css');

$black: #000000;
$white: #ffffff;
$grey: #989898;
$light-grey: #eeeeee;
$darker-grey: #2f2f2f;

// Text
$base__font-size: 16px;
$base__line: 24px;
$letter-space: 1px;

$large: '(max-width: 1199.98px)';
$medium: '(max-width: 991.98px)';
$small: '(max-width: 767.98px)';
$xsmall: '(max-width: 575.98px)';
