//======================================================================
// Global Sass Variables
//======================================================================

@import url('https://use.typekit.net/kft6vzb.css');

$black: #000000;
$white: #ffffff;
$grey: #989898;
$light-grey: #eeeeee;

// Text
$base__font-size: 16px;
$base__line: 24px;
$letter-space: 1px;
